
/* ================= BASE ================= */
body {
  margin: 0;
  font-family: 'verdana', sans-serif;
  background: #121212;
  color: white;
}

/* ================= HEADER ================= */

/* AGRUPAR ÍCONE + TEXTO */
.titulo{
  display: flex;
  align-items: center;
  gap: 10px;
}

/* TAMANHO DA IMAGEM */
.titulo img{
  width: 80px;
}


.topo {
  background: #1a1a1a;
  padding: 15px 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topo span{
  font-size: 40px;
  font-weight: bold;
}

/* BOTÃO VOLTAR */
.voltar-container{
  text-align:center;
  margin:15px 0;
}

.btn-voltar {
  background: #0ccd53;
  color: #000000;
  padding: 8px 15px;
  border-radius: 20px;
  font-weight: bold;
  border:none;
  cursor:pointer;
}

.btn-voltar:hover {
  background: #e0e0e0;
}

/* ================= MENU CARDS ================= */
.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* CARD */
.card {
  background: #1e1e1e;
  padding: 25px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  transition: 0.3s;
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px #22c55e;
}


/* QUANDO CLICA */
.card:active {
  box-shadow: 0 0 25px #22c55e;
  transform: scale(0.97);
}

.card img{
  margin-bottom:10px;
}

.card h1{
  margin:0;
}


/* ================= FOOTER ================= */
footer {
  text-align: center;
  padding: 20px;
  background: #1a1a1a;
  color: #aaa;
}

/* ================= RESPONSIVO ================= */
@media (max-width: 768px) {
  .topo {
    flex-direction: column;
    gap: 10px;
  }

  .cifra {
    font-size: 14px;
  }
}